apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-conf
  labels:
    app: opentelemetry
    component: otel-collector-conf
data:
  otel-collector-config: |
    receivers:
      otlp:
        protocols:
          http:
            endpoint: "localhost:55681"
    processors:
      batch:
        send_batch_size: 8192
        timeout: 10s
      owtraceprocessor:
        ow_host: http://owdev-nginx.openwhisk.svc.cluster.local:80
        ow_auth_token: 23bc46b1-71f6-4ed5-8c54-816aa4f8c502:123zO3xZCLrMN6v2BKK1dXYFpXlPkccOFqm12CdAsMgRU4VrNZ9lyGVCGuMDGIwP
    exporters:
      zipkin:
        endpoint: "http://zipkinot.default.svc.cluster.local:9411/api/v2/spans"
      logging:
    extensions:
      health_check:
    service:
      pipelines:
        traces:
          receivers: [otlp]
          processors: [batch, owtraceprocessor]
          exporters: [zipkin, logging]
      extensions: [health_check]
---
apiVersion: v1
kind: Service
metadata:
  name: owtracecollector
  labels:
    app: opentelemetry
    component: owtracecollector
spec:
  ports:
  - name: otlp # Default endpoint for OpenTelemetry receiver.
    port: 55681
    protocol: TCP
    targetPort: 55681
  - name: metrics # Default endpoint for Prometheus metrics exposed by the collector.
    port: 8888
    protocol: TCP
    targetPort: 8888
  selector:
    component: owtracecollector
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: owtracecollector
  labels:
    app: opentelemetry
    component: owtracecollector
spec:
  selector:
    matchLabels:
      app: opentelemetry
      component: owtracecollector
  minReadySeconds: 5
  progressDeadlineSeconds: 120
  replicas: 1
  template:
    metadata:
      labels:
        app: opentelemetry
        component: owtracecollector
    spec:
      containers:
      - #command:
          # Memory Ballast size should be max 1/3 to 1/2 of memory.
          #- "--mem-ballast-size-mib=683"
        args: ["--config", "/conf/otel-collector-config.yaml"]
        image: koelschkellerkind/owtracecollector:latest
        name: owtracecollector
        resources:
          limits:
            cpu: 1
            memory: 2Gi
          requests:
            cpu: 200m
            memory: 400Mi
        ports:
        - containerPort: 55681 # Default endpoint for OpenTelemetry receiver.
        - containerPort: 8888  # Default endpoint for Prometheus metrics exposed by the collector.
        volumeMounts:
        - name: otel-collector-config-vol
          mountPath: /conf
        livenessProbe:
          httpGet:
            path: /
            port: 13133 # Health Check extension default port.
        readinessProbe:
          httpGet:
            path: /
            port: 13133 # Health Check extension default port.
      volumes:
        - configMap:
            name: otel-collector-conf
            items:
              - key: otel-collector-config
                path: otel-collector-config.yaml
          name: otel-collector-config-vol